.books {
  padding: 50px;
  background-color: rgba(6, 6, 6, 0.036);

  hr {
    margin-top: 50px;
    width: 95%;
    color: rgba(117, 113, 113, 0.158);
    border: none;
    border-bottom: 1px solid rgba(84, 82, 82, 0.332);
  }
}
