.add-book {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;

  .form-title {
    text-transform: uppercase;
  }

  .input {
    display: flex;
    align-items: center;

    input, select {
      padding: 10px;
      margin: 5px;
    }

    button {
      padding: 10px 25px;
      font-family: 'Heebo', sans-serif;
      background-color: rgb(47, 136, 238);
      color: #fff;
      border: none;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background-color: #fff;
        color: rgb(47, 136, 238);
        border: rgb(47, 136, 238);
      }
    }
  }
}
