@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.navbar-container {
  display: flex;
  flex-direction: column;

  .bar {
    display: flex;
    align-items: center;

    h1 {
      padding: 10px;
      font-family: 'Rubik Mono One', sans-serif;
      color: rgb(9, 84, 169);
    }

    .links {
      .link {
        padding: 10px;
        text-decoration: none;
        color: #000;
      }
    }
  }
}
